/* Build Page */
.Build_Page {
  height: 100vh;
  background-image: url("../assets/BuildBackground.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Gold text color */
#gold {
  color: #f9d949;
}

/* Build Title */
.Build-Title {
  font-family: "Russo one";
  color: white;
  align-self: flex-start;
  margin-left: 15%;
}

/* Build Area */
.Build-Area {
  height: 60vh;
  margin-top: 20px;
  width: 70vw;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 79%);
  display: flex;
  align-items: center;
}

/* Selection paragraph */
.selection {
  background-color: #f9d949;
  font-size: 20px;
  height: 60vh;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Russo one";
}

/* Selection paragraph text */
.selection div p {
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 5px;
  height: 20px;
  transition: background-color 0.3s ease;
}

.selection div{
  display: flex;
}

/* PC Image */
.pc-img {
  height: 60vh;
  width: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc-img img {
  /* height: 90%; */
  width: 70%;
}

/* Modal */
.modal {
  position: absolute;
  top: 54%;
  left: 32%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modal Content */
.modal-content {
  width: 300px;
}

/* Modal Title */
.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Modal Select container */
.select-container {
  position: relative;
}

/* Modal Select dropdown */
.modal-content select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  overflow-y: auto; /* Enables vertical scrollbar */
  max-height: 200px; /* Adjust as needed */
}

/* Select dropdown arrow */
.modal-content select::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Hover effect for select dropdown */
.modal-content select:hover {
  border-color: #888;
}

/* Focus effect for select dropdown */
.modal-content select:focus {
  border-color: #555;
  outline: none;
}


/* Specs Page */
.specs-page{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  font-family: 'Russo one';
}

.specs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, auto); */
  gap: 100px;
  width: 100%;
}

.specs div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  padding: 20px;
}