.Build_Page{
    height: 100vh;
    background-image: url('../assets/BuildBackground.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gold{
    color: #F9D949;
}

.Build-Title{
    font-family: 'Russo one';
    color: white;
    align-self: flex-start;
    margin-left: 15%;
}

.Build-Area{
    height: 60vh;
    margin-top: 20px;
    width: 70vw;
    background-color: white;
    display: flex;
    align-items: center;
}

.selection{
    background-color: #F9D949;
    height: 60vh;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo one';
}

.pc-img{
    height: 60vh;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-img img{
    height: 90%;
}


.modal{
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: white;
    padding: 80px 40px;
    border: 1px black solid;
    border-radius: 20px;    
}