@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Kaushan+Script&display=swap');

.Display{
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-image: url('../assets/Build.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.MainBody{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #F9D949;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  rotate: -6deg;
  margin-top: 40px;
}

.MainBody h1{
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
}

.marquee{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 20px;
}

.marquee span{
  text-decoration: none;
  border-top: 2px solid #F9D949;
  border-bottom: 2px solid #F9D949;
}

.marquee span{
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: marquee 6s linear infinite;
  /* font-family: "Jersey 10", sans-serif; */
  font-family: "Jersey 15", sans-serif;
  font-weight: 900;
  color: #F9D949;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.secondPage{
  height: 100vh;
  background-color: black;
}