@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  height: 100vh;
}

.content img {
  padding-top: 10px;
  height: 35rem;
  margin: auto;
}
