@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(182, 182, 182, 0.268);
  z-index: 1000;
  padding: 10px 20px;
  transition: opacity 0.5s;
  backdrop-filter: blur(2px);
}

#left-nav img {
  width: 100px;
  height: auto;
}

#right-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  color: rgb(0, 0, 0);
  margin: 0 20px;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  font-size: 14px;
}

.nav-button {
  padding: 8px 16px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Russo One", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}
