.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  font-family: 'Russo One';
}

.left-Nav {
  display: flex;
  align-items: center;
}

#brandLogo {
  width: 160px;
}

.right-Nav {
  display: flex;
  align-items: center;
}

.right-Nav p {
  margin-right: 60px;
  cursor: pointer;
}

.Build {
  padding: 10px 20px;
  font-family: 'Russo One';
  background-color: #F9D949;
  color: #000000;
  width: 150px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}