/* processor */

.cpu {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start; 
    gap: 20px;
    padding: 20px;
}

.cpucomp {
    min-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cpucomp img {
    width: 100%;
    border-radius: 8px;
}

#cpuDetails {
    margin-top: 10px;
}

#cpuDetails h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#cpuDetails p {
    margin: 5px 0;
}

/* GPU */

.gpu {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start; 
    gap: 20px;
    padding: 20px;
}

.gpucomp {
    min-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gpucomp img {
    width: 100%;
    border-radius: 8px;
}

#gpuDetails {
    margin-top: 10px;
}

#gpuDetails h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#gpuDetails p {
    margin: 5px 0;
}

/* Model */

.detailed-view {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.detailed-image img {
    width: 100%;
    border-radius: 8px;
}

.detailed-details {
    margin-top: 20px;
}

/* Search Input */

.search {
    margin-bottom: 20px;
}

.search input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}